
body { height: 100%; }

body, .todo-application { background-color: rgb(250, 244, 241); }

.title, .dot { color: #f23818; }
.form-control:focus { border-color: #f23818; }

.title { margin: 20px 0; }

.todo-list { margin-bottom: 8em; }

.todo-item { }
.todo-item:hover { cursor: pointer; }
.todo-item:focus { outline: 0; }
.todo-item.completed { opacity: 0.5; }

.todo-item .dot { margin-right: 0.5rem; }
.todo-item.completed .dot { color: darkgreen; }

.todo-item .edit-todo { margin-left: 10px; visibility: hidden; }
.todo-item .edit-todo:hover { color: darkgreen; }

.todo-item .delete-todo { 
  color: #f23818;
  position: absolute; 
  right: 0; 
  top: 4px; 
  visibility: hidden; }
  .todo-item:hover .edit-todo,
  .todo-item:hover .delete-todo { visibility: visible; }
  .todo-item.completed:hover .edit-todo { display: none; }

.footer {
  bottom: 0;
  opacity: 0.65;
  padding: 1em;
  position: fixed;
  text-align: center;
  width: 100%; 
  z-index: -1; }
  .footer a { color: black; display: block; }
  .footer .github-repo img { height: 65px; }